

<style>
    div {
        text-align: center;
        margin: 50px auto auto auto;
    }

    img{
        width: 40%;
        height: 30%;
    }
</style>
<div>
    <img class="img" src="~/img/жабий камень.jpeg"/>
</div>