@model Search_for_a_medicine_by_the_photo_of_its_packaging.Models.ViewModel

<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<style>
    .form_line_search {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    .input_line_search {
        width: 100%;
        height: 42px;
        padding-left: 10px;
        border: 2px solid #1bbc9b;
        border-radius: 5px;
        outline: none;
    }

    .button_line_search {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
        border: none;
        background: #1bbc9b;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

        .button_line_search:before {
            content: "\f002";
            font-family: FontAwesome;
            font-size: 16px;
            color: #fff;
        }

    /*Для выбора файла*/
    .input__wrapper {
        width: 100%;
        position: relative;
        margin: 15px 0;
        text-align: center;
    }

    .input__file {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    .input__file-icon-wrapper {
        height: 60px;
        width: 60px;
        margin-right: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-right: 1px solid #fff;
    }

    .input__file-button-text {
        line-height: 1;
        margin-top: 1px;
    }

    .input__file-button {
        width: 100%;
        max-width: 290px;
        height: 60px;
        background: #1bbc9b;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        border-radius: 3px;
        cursor: pointer;
        margin: 0 auto;
    }

    .button {
        background-color: #1bbc9b;
        font-size: 15px;
        font-weight: 700;
        text-decoration: none;
        display: inline-block; /* Строчно-блочный элемент */
        color: #fff; /* Белый цвет текста */
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 700;
        border-radius: 3px;
        margin-bottom: 20px;
    }

    .errortext {
        color: #8B0000;
    }
</style>

<script>
    document.getElementById("id_of_button").onclick = function (e) {
        // Если необходимо предотвратить/отменить событие по умолчанию,
        // то необходимо вызвать метод preventDefault у события
        // https://developer.mozilla.org/ru/docs/Web/API/Event/preventDefault
        // e.preventDefault();
        // если необходимо также предотвратить дальнейшее "всплытие" события,
        // то необходимо вызвать метод stopPropagation у события
        // https://developer.mozilla.org/ru/docs/Web/API/Event/stopPropagation
        // e.stopPropagation();
        document.getElementById("id_of_textbox").value = "";

        ///*Поиск при нажатии на кнопку "Enter"*/
        //$("#id_of_textbox").keyup(function (event) {
        //    if (event.keyCode == 13) {
        //        $("#id_of_button").click();
        //        $(this).val('');
        //    }
        //});
    </script>

<body>
    <style>
        .bg-white {
            background-color: #1bbc9b !important;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/index.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                </div>
            </div>
        </nav>
        <div class="text-center">
            <form asp-controller="Home" class="form_line_search" enctype="multipart/form-data">
                <input asp-for="PhotoProcessingView.SearchLine" name="PhotoProcessingView.SearchLine" id="id_of_textbox" value="" class="input_line_search" type="text" placeholder="Искать здесь...">
                <button id="id_of_button" class="button_line_search" type="submit" asp-controller="Home" asp-action="ApiVidal"></button>
                <div class="input__wrapper">
                    <input asp-for="PhotoProcessingView.PackingImage" name="PhotoProcessingView.PackingImage" type="file" id="input__file" accept="image/jpeg,image/png" class="input input__file" multiple>
                    <label asp-for="PhotoProcessingView.PackingImage" for="input__file" class="input__file-button">
                        <span class="input__file-icon-wrapper"><img class="input__file-icon" src="https://smartlanding.biz/demo/fileinput/img/add.svg" width="25"></span>
                        <span class="input__file-button-text">Выберите файл</span>
                    </label>
                </div>
                <a type="button" class="button" asp-controller="Home" asp-action="Capture">Камера</a>
            </form>
        </div>
        <div class="text-center errortext">
            @if (Model != null)
            {
                @Html.DisplayFor(Model => Model.PhotoProcessingView.Error)
            }
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
